*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.header{
    background-color:rgb(32, 7, 56);
}
a{
    text-decoration: none;
}
#banner{
background-image: url('../image/header.jpg');
    padding:120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(1, 7, 13, 0.79);
  background-blend-mode:multiply;
}
#banner .title{
  font-size: 60px;
}
#banner .sub-title{
    letter-spacing: 3px;
    font-size: 20px;
  }
  .menu{
    position: fixed;
    z-index: 2;
  }
  .btn1:hover{
    background: white !important;
    color: red !important;
  } 
  .btn2:hover{
    background:rgb(182, 51, 51) !important;
    color: white !important;
  } 
  .btn3:hover{
    background: rgb(3, 3, 35) !important;
    color: white !important;
  }
  .discount{
    background-color:rgb(32, 7, 56);
  }
  .discount .image{
    margin-left: 60px;
    margin-bottom: 80px;
  }
  .discount .conteint{
    margin-top: 80px;
    margin-left: 60px
  }
#subscribe{
  background-color:rgb(32, 7, 56);
}
.btn4:hover{
  background: red !important;
  color: white !important;
}
.blog .title:hover{
  color: red !important;
  
}
.footer{

  background-color:rgb(32, 7, 56);
  padding-top: 100px;
  padding-bottom: 100px;
}
.foot-note{
  background-color:rgb(32, 7, 56);
padding-bottom: 20px;
}